@font-face {
  font-family: "Forum";
  src: url("../fonts/Forum-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

/*General*/
.container {
  width: 90rem;
}

.section-header {
  font-family: "Forum";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;

  color: #0c0c0e;
}

.section-header::after {
  width: 3.125rem;
  height: 0.0625rem;
  display: block;
  margin: auto;
  margin-top: 1.25rem;

  background: #0c0c0e;
  content: "";
}

/*Header*/

.header {
  position: relative;

  height: 5.6rem;
  width: 90rem;

  background-color: #0c0c0e;
}

/*Navbar*/

.logo {
  position: absolute;

  margin: 1.25rem 28.38rem 1.25rem 1.25rem;

  color: #fff;
  font-family: "Forum", serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;
}

.navbar__list {
  position: absolute;

  margin-top: 1.25rem;
  margin-left: 48rem;
}

.navbar__item {
  display: inline;

  margin-right: 1.6rem;
}

.navbar__link {
  font-family: "Inter", serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;

  color: #fff;

  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.navbar__link:hover {
  color: #bb945f;

  text-decoration: underline;
}

.profile {
  position: relative;

  display: inline;
}

.profile__icon {
  position: absolute;

  width: 1.75rem;
  height: 1.75rem;

  margin: 1.94rem;
  margin-left: 87rem;

  fill: #fff;

  cursor: pointer;
  transition: 0.5s;
}

.profile__icon:hover {
  fill: #bb945f;
}

/*Sectoion Welcome*/

.welcome {
  position: relative;

  height: 37.5rem;
  width: 90rem;

  background-image: url("../images/welcome.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.welcome__img {
  margin: 13.75rem 52.5rem 12rem 0rem;
}

.welcome__header {
  position: absolute;

  width: 37.5rem;
  margin-top: 13.75rem;
  padding: 2.1875rem 2.5rem;

  text-align: center;
  font-family: "Forum", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;

  color: #fff;
}

/*Section About*/

.about__title {
  text-align: center;
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;

  color: #000;
}

.about .section-header {
  margin: 1.25rem 41.69rem 2.5rem;
}

/*Slider*/

.slider__img-container {
  margin: 1.25rem;
}

.slider__img {
  margin-right: 1.31rem;
  width: 28.125rem;
  height: 35rem;
}

.slider__img:last-child {
  margin-right: 0rem;
}

.slider__pagination {
  margin: 2.3rem 42.5rem 0rem;
}

.slider__pagination:last-child {
  margin-right: 0rem;
}

.slider__radio-btn {
  width: 1.7rem;
  height: 1.7rem;
  display: inline-block;

  cursor: pointer;
  transition: 0.5s;
}

.slider__radio-btn:hover {
  transform: scale(1.5);
}

.slider__radio-btn::before {
  width: 1rem;
  height: 1rem;
  display: block;

  border-radius: 50%;
  background-color: #000;

  content: "";
  cursor: pointer;
  transition: 0.5s;
}

.slider__radio-btn-active::before {
  background-color: #bb945f;
}

/*Section Favorites*/

.favorites .section-header {
  margin: 2.8rem 40rem 0rem;
}

.section-semi-header {
  margin-left: 1.25rem;
  margin-right: 74.12rem;
  margin-top: 2.5rem;

  text-align: center;
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  color: #000;
}

.seasons {
  margin-top: 2.6rem;
  margin-bottom: 2.5rem;
  margin-left: 1.25rem;
}

.seasons__radio-btn {
  margin-right: 1rem;
  width: 1.0625rem;
  height: 1.0625rem;

  accent-color: #232323;

  cursor: pointer;
  transition: 0.5s;
}

.seasons__radio-btn:hover {
  transform: scale(1.5);
}

.seasons__radio-btn--label {
  margin-right: 5.5rem;

  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #000;
}

#seasons__radio-btn-1--label {
  font-weight: 700;
}

.season-favorites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.5rem 0rem;
}

.season-favorites__item {
  margin-left: 1.25rem;
  width: 34.375rem;
  height: 34.6875rem;

  border: 0.0625px solid #000;
  background: #fff;
}

.season-favorites__item:nth-of-type(odd) {
  margin-right: 15rem;
}

.season-favorites__semi-header {
  margin: 0.94rem 1.25rem 1.25rem;

  font-family: "Forum";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;

  color: #000;
}

.season-favorites__semi-header::after {
  width: 3.75rem;
  height: 0.0625rem;
  display: block;

  background: #bb945f;
  content: "";
}

.season-favorites__book-name {
  margin-left: 1.25rem;

  font-family: "Inter";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;

  color: #000;
}

.season-favorites__book-author {
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;

  font-family: "Inter";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;

  color: #000;
}

.season-favorites__book-about {
  margin: 0 10.94rem 0 1rem;
  height: 20rem;

  font-family: "Inter";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;

  color: #000;
}

.season-favorites__btn {
  width: 4.6875rem;
  height: 1.875rem;
  margin-left: 1.25rem;
  margin-top: 0.8rem;
  padding: 0.56rem 1.6rem;

  text-align: center;
  font-family: "Inter";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;

  color: #0c0c0e;
  border-radius: 0.125rem;
  border: 0.0625px solid #0c0c0e;
  background-color: #fff;

  cursor: pointer;
  transition: 0.5s;
}

.season-favorites__btn:hover {
  border: 0.0625px solid #bb945f;
  background-color: #bb945f;
}

.season-favorites__btn:disabled {
  color: #bb945f;
  border: 0.0625px solid #bb945f;

  pointer-events: none;
}

.season-favorites__book-image {
  position: absolute;

  width: 12.5rem;
  height: 18.75rem;
  margin-top: 15.94rem;
  margin-left: 24.38rem;
}

/*Section Coffee Shop*/

.coffee-shop .section-header {
  margin: 3.75rem 38rem 1.25rem;
}

.coffee-shop__about {
  display: inline-block;

  margin-top: 1.25rem;
  margin-left: 2.25rem;

  text-align: center;
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;

  color: #000;
}

.coffee-shop__about-2 {
  display: inline-block;

  margin-left: 2.6rem;

  text-align: center;
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;

  color: #000;
}

.coffee-shop__menu-header {
  margin-bottom: 2.5rem;

  font-family: "Forum";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;

  color: #bb945f;
}

.coffee-shop__menu-right .coffee-shop__menu-header {
  margin-left: 9.7rem;
}

.coffee-shop__menu-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2.5rem;
  gap: 28rem;
}

.coffee-shop__menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 2.5rem;
}

.coffee-shop__item {
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;

  color: #000;
}

.coffee-shop__menu-left .coffee-shop__product {
  display: block;
  width: 12.42rem;
  margin-right: 16rem;

  text-align: left;
}

.coffee-shop__menu-right {
  margin-right: 0.8rem;
}

.coffee-shop__menu-right .coffee-shop__product {
  display: block;
  width: 13.9rem;
  margin-right: 16rem;

  text-align: right;
}

.coffee-shop__price {
  display: block;

  margin-left: 26rem;
  margin-top: -2.5rem;

  font-family: "Forum";
}

.coffee-shop__menu-right .coffee-shop__price {
  margin-left: 27.5rem;
}

.coffee-shop__menu-list .coffee-shop__product::after {
  position: absolute;

  display: block;
  width: 6.25rem;
  height: 0.0625rem;
  margin-left: 15.75rem;
  margin-top: -1.5rem;

  content: "";
  background-color: #bb945f;
}

.coffee-shop__menu-right .coffee-shop__product::after {
  margin-left: 17.5rem;
}

/*Section Coffee Shop*/

.our-contacts .section-header {
  margin: 3.75rem 37.458rem 2.4rem;
}

.our-contacts__contacts-map {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 2.5rem;
}

.our-contacts__mail {
  font-weight: 700;

  color: #000;

  text-decoration: none;
  transition: 0.5s;
}

.our-contacts__mail:hover {
  color: #bb945f;

  text-decoration: underline;
}

.our-contacts__info {
  margin-right: 11rem;
  margin-bottom: 1.25rem;

  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;

  color: #000;
}

.our-contacts__tel {
  color: #000;

  text-decoration: none;
  transition: 0.5s;
}

.our-contacts__tel:hover {
  color: #bb945f;

  text-decoration: underline;
}

.our-contacts__semi-header {
  margin-bottom: 2.5rem;
}

.our-contacts__senior-staff .our-contacts__semi-header {
  margin: 0;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

/*Section Digital Library Cards*/

.digital-library-cards .section-header {
  margin: 3.5rem 33.33rem 2.5rem;
}

.digital-library-cards__semi-header {
  margin-left: 8.6rem;
  margin-bottom: 1.88rem;

  font-family: "Inter";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0375rem;

  color: #000;
}

.digital-library-cards__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 21.5rem;
}

.digital-library-cards__find-card-form {
  margin-left: 1.25rem;
  margin-bottom: 2.56rem;
}

.digital-library-cards__reader-card {
  margin-right: 1.25rem;
}

.digital-library-cards__form-fieldset {
  width: 37.5rem;
  height: 24.125rem;

  border: 3px solid #bb945f;
  background: #fff;
}

.digital-library-cards__form-search-inputs {
  margin: 1.25rem;
  height: 17rem;

  background: #bb945f;
}

.digital-library-cards__form-header {
  margin-left: 1.1rem;
  margin-bottom: 1.25rem;
  padding-top: 1.1rem;

  font-family: "Forum";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;

  color: #000;
}

.digital-library-cards__input {
  display: block;
  margin-left: 1.25rem;
  margin-bottom: 1.56rem;
  padding-left: 1rem;

  width: 32.5rem;
  height: 4.125rem;

  font-family: "Forum";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;

  border-radius: 0.625rem;
  background: #fff;
  color: #8e8e8e;

  cursor: pointer;
  transition: 0.5s;
}

.digital-library-cards__input:hover {
  color: #000;

  transform: scale(1.1);
}

.digital-library-cards__input-submit {
  display: block;
  width: 15.125rem;
  height: 2.75rem;

  text-align: center;
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;

  border-radius: 0.125rem;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  background-color: #fff;

  cursor: pointer;
  transition: 0.5s;
}

.digital-library-cards__input-submit:hover {
  border: 0.0625px solid #bb945f;
  background-color: #bb945f;
}

.forum {
  margin-left: 14.7rem;
  margin-bottom: 2.19rem;

  font-family: "Forum";
}

.digital-library-cards__reader-card-about {
  margin-bottom: 2.19rem;

  text-align: right;
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.025rem;

  color: #000;
}

.digital-library-cards__sign-log-btns {
  display: inline;
  margin-left: 17.8rem;

  text-align: center;
  font-family: "Inter";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#digital-library-cards__sign-up-btn {
  margin-right: 0.98rem;
}

.digital-library-cards__sign-log-btn {
  width: 4.6875rem;
  height: 1.875rem;

  border-radius: 0.125rem;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  background-color: #fff;

  cursor: pointer;
  transition: 0.5s;
}

.digital-library-cards__sign-log-btn:hover {
  border: 0.0625px solid #bb945f;
  background-color: #bb945f;
}

/*Footer*/

.footer .container {
  height: 15.625rem;
  padding-top: 1.25rem;

  background-color: #0c0c0e;
}

.footer__adress-link {
  font-family: "Inter";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;

  color: #fff;
  text-decoration: none;

  cursor: pointer;
  transition: 0.5s;
}

.footer__adress-link:hover {
  color: #bb945f;

  text-decoration: underline;
}

.footer__adress {
  display: block;
  width: 14.3125rem;
  margin-bottom: 1.12rem;
  margin-left: 1.25rem;
}

.footer__social-networks {
  margin-left: 1.25rem;
}

.footer__social-networks-item {
  display: inline;
  margin-right: 0.72rem;
}

.footer__social-networks-link {
  fill: #f5efdb;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.footer__social-networks-link:hover {
  fill: #bb945f;
}

.footer__social-networks-icon {
  width: 1.5rem;
  height: 1.5rem;

  cursor: pointer;
  transition: 0.5s;
}

.footer__social-networks-icon:hover {
  transform: scale(1.5);
}

.footer__social-networks-schedule {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 62.88rem;
}

.footer__schedule {
  color: #fff;
}

.footer__schedule-week {
  margin-bottom: 0.62rem;

  text-align: right;
  font-family: "Inter";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;

  color: #fff;
  text-align: right;
}

.footer__credits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 15rem;
  margin: 1.25rem;
  padding-top: 2.75rem;

  border-top: 0.0625rem solid #ffffff;
}

.footer__credits-item {
  display: inline;

  text-align: center;
  font-family: "Inter";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;

  color: #fff;
}

.footer__credits-link {
  color: #fff;

  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.footer__credits-link:hover {
  color: #bb945f;
  text-decoration: underline;
}

.footer__credits-year {
  margin-right: 16rem;
}

#footer__credits-github {
  margin-left: 5.5rem;
}
